@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  font-size: large;
}

nav {
  font-family: 'Open Sans', sans-serif;
  display: none;
  background-color: #0A91FF;
  color: #fff;
  width: 100%;
  height: 10vh;
  position: fixed;
  vertical-align: middle;
  z-index: 99999999999999999999;
}


nav a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0px 20px;
}
#mobile-popout ul li * {
  color: #fff;
  left: 25%;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0px 20px;
}

#mobile-popout ul li {
  text-align: center;
}

#mobile-popout ul {
  width: 100%;
}

#typewriter {
  text-align: center;
}

#content {
  font-family: 'Roboto', sans-serif;
}

#content * {
  text-align: left;
}

#logout {
  width: 100px;
  height: 50px;
  font-size: large;
  color: #fff;
  background-color: black;
  border-radius: 75px;
}

button {
  cursor: pointer;
  border-bottom: 0;
  border-left:0;
  border-top: 0;
}


#mobile-popout {
  position: absolute;
  z-index: 99999;
  top: 10vh;
  width: 100%;
  background-color: rgb(41, 38, 38);
  height: 60vh;
}

#mobile-popout ul {
  list-style-type: none;
  top: 10vh;
  position: absolute;
  text-align: center;
}

#mobile-popout ul li * {
  color: #fff;
  width: 100%;
}

#logoutAndUsername {
  color: white !important;
}